<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header"> What's happening at UCLA??? </h1>

    <section data-position="events">
      <h2>Events</h2>
      <ul class="events">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < events.length; i++) {%>
          <li class="event">
            <!-- Output name from the iterated quote object -->
            <span>Event: <%= events[i].Name %> </span> <br>
            <span>Host:   <%= events[i].Host %></span> <br>
            <span>Date:   <%= events[i].Date %></span> <br>
            <span>Time:  <%= events[i].Time %></span> <br>
            <span>Where:  <%= events[i].Where %></span> <br>
            <span>Details:<%= events[i].Description %></span> <br> <br>
          </li>
        <% } %>
      </ul>
    </section>

    <section data-position="add-event">
      <h2>Add Event</h2>
      <form action="/events" method="POST">
        <input type="text" placeholder="Name" name="Name" />
        <input type="text" placeholder="Host" name="Host" />
        <input type="text" placeholder="MM/DD/YYYY" name="Date" />
        <input type="text" placeholder="Time" name="Time" />
        <input type="text" placeholder="Where" name="Where" />
        <input type="text" placeholder="Description" name="Description" />
        <button type="submit">Submit</button>
      </form>
    </section>


    <section data-position="search-event">
      <h2>Search Events</h2>
      <form action="/events" method="GET" class = "form-inline">
        <div class = "form-group">
          <input type="text" placeholder="MM/DD/YYYY" name="Date" />
          <button type="submit">Search Submit</button>
        </div>
      </form>
    </section>


    <script src="/main.js"></script>
  </body>
</html>